.backdrop{
    background: linear-gradient(to right, #c21500, #ffc500);
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatarea{
    height: 70vh;
    /* width: max-content; */
}

.header-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height:4vh
}